body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.hidden {
    display: none;
}

#auth, #dashboard, #billing {
    background: white;
    padding: 20px;
    border-radius: 6px;
    max-width: 750px;
    margin: auto;
}

.header, .product {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    align-items: center;
    margin: 6px 0;
}

input[type="number"] {
    padding: 6px;
    width: 100%;
}

.summary {
    margin-top: 20px;
}
